html {
	overflow-x: hidden;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	background: black;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	overflow-x: hidden;
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding-bottom: 0;
}
p {
	font-family: "Helvetica Neue", Arial, sans-serif !important;
}

h3.lighter {
	font-weight: 100;
	font-size: 2em;
	line-height: 45px;
	color: rgb(133, 133, 133);
	letter-spacing: 2px;
}

.lighter.center {
	text-align: center;
	font-size: 2.3em;
	font-weight: 100;

}

p.basic {
	color: rgb(133, 133, 133);
	font-weight: 400;
	font-size: 1.1em;
	line-height: 24px;
	text-align: justify;
}

p.light {
	text-transform: uppercase;
	color: rgb(133, 133, 133);
	line-height: 42px;
}
.border {
	border-left: 1px solid rgb(133, 133, 133);
	padding-left: 20px;
	margin-bottom: 40px;
	margin-top: 80px;
	
}

.content {
	max-width: 330px;
	margin: 0 auto;
}

.play_border {
margin: 0 22px 0 0px;
border: 2px solid rgb(8, 177, 137);
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
width: 40px;
height: 40px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
cursor: pointer;
float: left;
}

.sts {
	margin-left: 20px;
}

.play_border:hover {
	border-color: rgba(0, 0, 0, 0);
background-color: rgb(8, 177, 137);
}

.play_border:hover .play_button {
border-left: 10px solid rgb(255, 255, 255);
}

.play_button {
position: relative;
top: 8px;
left: 40%;
width: 0;
height: 0;
border-top: 10px solid rgba(0, 0, 0, 0);
border-bottom: 10px solid rgba(0, 0, 0, 0);
border-left: 10px solid rgb(8, 177, 137);
}
.m1.first {
	height: inherit !important;
}

img.ipad {
	position: relative;
	right: 0;
}

.wifi {
	max-width: 500px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}


.wifi-contain {
	position: absolute;
	border: rgb(255, 255, 255) 2px solid;
color: rgb(255, 255, 255);
padding: 0 15px;
width: 100%;
margin-top: 30vw;

}

.wifi-contain > h2 {
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	font-family: 'HelveticaNeueETW01-55Rg', Helvetica, Arial, sans-serif;

}

#myCarousel {
	padding-right: 0;
	padding-left: 0;
}

.carousel {
	margin-bottom: 0;
}
.carousel-inner > .item {
	background-size: cover;
	background-position: center center;
}
.item1 {
	background: url(../images/slider/images_0000_1.png);
}

.item2 {
	background: url(../images/slider/images_0001_2.png);
}

.item3 {
	background: url(../images/slider/images_0002_3.png);
}

.item4 {
	background: url(../images/slider/images_0003_4.png);
}

.nav-bk {
	clear: both;
	overflow: auto;
	background-color: rgb(28, 28, 27);
}
.nav-tabs {
	
	clear: both;
overflow: auto;
margin: 0 auto;
width: 100%;
max-width: 700px;
border-bottom: none;
}

.nav-tabs > li {
	padding: 20px;
}

.nav-tabs > li > a {
	color: rgb(133, 133, 133);
	font-size: 1.2em;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}

.nav-tabs > li.active {

}
.nav-tabs > li.active > a {
	border-bottom: 4px solid rgb(0, 160, 226);
	background: transparent;
	color: rgb(133, 133, 133);
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
 }

.tab-content {
	position: relative;

}
.tab-pane {
	height: 500px;
}

.border.pane {
	border-left: 1 solid rgb(240,240,240);
	padding-left: 20px;
	margin-bottom: 0px;
	margin-top: 80px;
	padding-bottom: 20px;
	
}

.border.pane h3 {
	color: rgb(0, 161, 227);
font-size: 2.8em;
font-weight: 200;
}

.border.pane p {
	color: white;
	line-height: 22px;
}

.content.pane {
	max-width: 330px;
	margin: 0 auto;
}

 .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: transparent;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 4px solid rgb(0, 160, 226);
}


 .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;

}

.panel-default {
	border: none;
}

.panel-group .panel+.panel {
margin-top: 0px;
}

.panel-default>.panel-heading {
	border: none;
	background: transparent;
	line-height: 45px;
color: rgb(147, 149, 152);
padding: 15px 0px;
}

.panel-default>.panel-heading> h4 {
	font-weight: 300;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
	background: rgb(243, 243, 243);
	color: rgb(0, 0, 0);
	max-width: 450px;
line-height: 21px;
font-size: .9em;
}

.omni10 {

background: url('../images/products/product_images_0003_10.png') no-repeat;
background-size: cover;
background-position: center center;

}

.omni20 {

background: url('../images/products/product_images_0004_20.png') no-repeat;
background-size: cover;
background-position: center center;

}

.aura {
background:	url('../images/products/product_images_0001_aura.png') no-repeat;
background-size: cover;
background-position: center center;
}

.onyx {
background: url('../images/products/product_images_0002_onyx.png') no-repeat;
background-size: cover;
background-position: center center;
}

.adapt {
background: url('../images/products/product_images_0000_adapt.png') no-repeat;
background-size: cover;
background-position: center center;
}
.m1.first.second {
	height: 450px !important;
overflow: hidden;
}


.music {
	background: url(../images/keyframe.png) no-repeat;
	background-size: cover;
background-position: center center;
height: 450px;
}

.music-button > div {
	margin-top: 20vw;
}

.music-contain {
	max-width: 420px;
margin: 0 auto;
}

.music-contain h2 {
	margin: 12px 0 2px 0;
	font-weight: 200;
}
.m-stop {
	border: rgb(255, 255, 255) 2px solid;
color: rgb(255, 255, 255);
padding: 0 20px;
}

.row.setup {
	
margin: 0 auto;
}

.setups {
	text-align: center;
}
.support {
	color: rgb(0, 161, 227);
	text-align: center;
	padding: 30px 0 40px 0;
	background: white;
}

.setup p {
	color: rgb(147, 149, 152);
	font-size: .9em;
	line-height: 20px;
	margin-top: 20px;
}

.support.help {
	font-size: 1.5em;
	font-weight: 200;
}

.img-circle.img-responsive {
	max-width: 185px;
	margin: 0 auto;
}

a:hover {
	text-decoration: none;
}

.m8 {
	background: url(../images/ambient1.png) no-repeat;
		background-size: cover;
background-position: center center;
height: 450px;
}

.row.questions {
	margin: 0 auto;
}

.row.questions > h3 {
	text-align: center;
}

.m9 {
	background: url(../images/ambient_2.png) no-repeat;
		background-size: cover;
background-position: center center;
height: 450px;
}

.sprite {
	background-image: url(../images/spritesheet.png);
    display: inline-block;
}

.sprite-google_play {
    width: 127px;
    height: 43px;
    background-position: -83px -131px;
    background-image: url(../images/spritesheet.png);
    display: inline-block;
}

.sprite-app_store {
    width: 143px;
    height: 41px;
    background-position: -5px -51px;
    background-image: url(../images/spritesheet.png);
    display: inline-block;
}

.sprite-shop_now {
    width: 116px;
    height: 32px;
    background-position: -158px -56px;
      background-image: url(../images/spritesheet.png);
    display: inline-block;
    margin: 30px 0 0 20px;
}

.sprite-omni_10_price {
    width: 75px;
    height: 36px;
    background-position: -5px -184px;
}

.sprite-omni_20_price {
    width: 75px;
    height: 36px;
    background-position: -90px -184px;
}

.sprite-aura_price {
    width: 75px;
    height: 36px;
    background-position: -90px -5px;
}

.sprite-onyx_price {
    width: 75px;
    height: 36px;
    background-position: -175px -5px;
}

.sprite-adapt_price {
    width: 75px;
    height: 36px;
    background-position: -5px -5px;
}
#question_q {
	color: rgb(43, 191, 255);
	border-right: solid rgb(0, 0, 0) 1px;
	font-size: 2.2em;
font-weight: 600;
padding-left: 10px;
max-width: 45px;
}
.step_number {
	border-right: solid rgb(0, 0, 0) 1px;
	float: left;
	color: rgb(8, 177, 137);
	font-size: 2.2em;
font-weight: 400;
padding-right: 10px;
position: relative;
left: 40px;

}
@media (min-width: 768px)
.col-sm-offset-1 {
margin-left: 5.333333%;
}